<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233534646648-hm3sgi1mqdgr830mefhmjd5r6j10pf61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233534646648-hm3sgi1mqdgr830mefhmjd5r6j10pf61</string>
	<key>API_KEY</key>
	<string>AIzaSyBJTHjg2BjmTBGQEjyOUA4KHQsYHUSAGjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>233534646648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cardmap</string>
	<key>PROJECT_ID</key>
	<string>cardmap-take1</string>
	<key>STORAGE_BUCKET</key>
	<string>cardmap-take1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233534646648:ios:27a08658e217d705ce408d</string>
</dict>
</plist>